.main-section {
  .name {
    margin:0 0 (@section-padding/2) 0;
    padding:0;
  }
}


@entry-width: @main-width;
@time-width: 100px;
.timed-block .entry {
  .time {
    width: @time-width;
    .thin-font;
    float:left;
  }

  .entry-main {
    .header {
      margin: 0;
    }
    margin-left: @time-width;
  }
}

