body {
  font-family: @font-family;
  color: @font-color;
}

header {
  color: @header-font-color;
  background-color: @header-color;
  width: 100%;
  position: relative;
  height: 150px;
  font-size: 1.8em;

  .title {
    font-weight: 100;
    margin: 0;
    padding: 0;
  }

  span {
    font-weight: 800;
  }

  .subtitle {
    font-size: 0.8em;
    display: block;
    text-align: center;
    font-weight: 100;
    position: relative;
    top: 10px;
  }
}

main {
  width: 900px;
  max-width: 100%;
  margin: auto auto;
  padding: 20px;
  padding-top: 40px;
  box-sizing: content-box;
}

aside {
  width: 150px;
  float:left;
}

section {
  max-width: 750px;
  float: left;
  padding-left: 40px;
}
