.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body {
  font-family: "Helvetica Neue" sans-seriff;
  color: #eaeaea;
}
header {
  background-color: #4d4d4d;
  display: inline-block;
  width: 100%;
  position: relative;
  height: 180px;
  font-size: 1.8em;
}
header .title {
  font-weight: 100;
  margin: 0;
  padding: 0;
}
header span {
  font-weight: 800;
}
header .subtitle {
  font-size: 0.8em;
  display: block;
  text-align: center;
  font-weight: 100;
  position: relative;
  top: 10px;
}
