doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title CV - Luis gutierrez
    link(rel='stylesheet', type='text/css', href='normalize.css')
  body
    header
      h1 Luis Gutierrez
      small relpaip@gmail.com
