doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title CV - Luis gutierrez 1
  link(rel='stylesheet', type='text/css', href='./css/app.css')
body
  include includes/header

  main.container.clearfix
    include includes/personal

    .main
      include mixins/main_section
      include mixins/timed_section

      +section('interests')
        .thin-font I have recently gotten very into Node. I had been using it mostly as a build tool for the last 3 years, but I now use it as my main development platform from where I try to use as most tools from it as I can. I also like contributing back to the dependencies in my projects and giving presentations in my local javascript meetups. I also like to run 5~10 Kilometers every day and I'm currently training to run a marathon.

      +timed_section('experience')
        .entry
          .time 1990-2001
          .entry-main
            h3.header wtf
              small.subject Porko jhonson
            .thin-font Vinyl Helvetica chambray umami irony try-hard. YOLO photo booth quinoa narwhal art party, scenester chillwave disrupt biodiesel four loko crucifix. Selvage distillery pork belly, bicycle rights McSweeney's cray artisan sriracha. Letterpress ennui meh, four loko mumblecore fixie freegan fap. Pitchfork normcore beard trust fund. Hashtag Schlitz mustache, plaid gentrify semiotics Etsy pop-up 3 wolf moon brunch Pitchfork disrupt bicycle rights 8-bit chia.
        .entry
          .time 1990-2001
          .entry-main
            h3.header wtf
              small.subject Porko jhonson
            .thin-font Vinyl Helvetica chambray umami irony try-hard. YOLO photo booth quinoa narwhal art party, scenester chillwave disrupt biodiesel four loko crucifix. Selvage distillery pork belly, bicycle rights McSweeney's cray artisan sriracha. Letterpress ennui meh, four loko mumblecore fixie freegan fap. Pitchfork normcore beard trust fund. Hashtag Schlitz mustache, plaid gentrify semiotics Etsy pop-up 3 wolf moon brunch Pitchfork disrupt bicycle rights 8-bit chia.
        .entry
          .time 1990-2001
          .entry-main
            h3.header wtf
              small.subject Porko jhonson
            .thin-font Vinyl Helvetica chambray umami irony try-hard. YOLO photo booth quinoa narwhal art party, scenester chillwave disrupt biodiesel four loko crucifix. Selvage distillery pork belly, bicycle rights McSweeney's cray artisan sriracha. Letterpress ennui meh, four loko mumblecore fixie freegan fap. Pitchfork normcore beard trust fund. Hashtag Schlitz mustache, plaid gentrify semiotics Etsy pop-up 3 wolf moon brunch Pitchfork disrupt bicycle rights 8-bit chia.
        .entry
          .time 1990-2001
          .entry-main
            h3.header wtf
              small.subject Porko jhonson
            .thin-font Vinyl Helvetica chambray umami irony try-hard. YOLO photo booth quinoa narwhal art party, scenester chillwave disrupt biodiesel four loko crucifix. Selvage distillery pork belly, bicycle rights McSweeney's cray artisan sriracha. Letterpress ennui meh, four loko mumblecore fixie freegan fap. Pitchfork normcore beard trust fund. Hashtag Schlitz mustache, plaid gentrify semiotics Etsy pop-up 3 wolf moon brunch Pitchfork disrupt bicycle rights 8-bit chia.
