include ../mixins/main_section
include ../mixins/timed_section

+section('summary')
  .thin-font I'm a computer science major and have been doing full stack web development for over 4 years. Most of that time I've used HTML, CSS and Javascript. The frameworks or libraries I'm most familiar with are jQuery, D3, Bootstrap, Node, Express and Backbone. I enjoy working and contributing back to open source projects and going to tech related meetups.

+timed_section('experience')
  .entry
    .time 2014
    .entry-main
      h3.header
        a(href="http://makersquare.com") MakerSquare, San Francisco
        small.subject Front end instructor
      .thin-font Teaching front end technologies like HTML, CSS, Javascript and Node. Have helped develop curriculum to teach some of these technologies. I also interact on a day-to-day basis with all of the students and help them achieve there goals of becoming web developers in a span of 3 months.
  .entry
    .time 2011-2014
    .entry-main
      h3.header
        a(href="http://pros.com/") PRO, Houston
        small.subject Front end developer
      .thin-font Developed a mid market targeted web application from scratch. The project started as an internal 6 week long 'innovation cell' in November 2011, and is now a full fledged product. The team works with a startup mentality, so not only have I been helping with the front-end but also publishing builds, setting up our cloud platform with Azure and even interfacing with customers. I have also given 2 workshops on D3 for PROS staff.
  .entry
    .time 2010-2011
    .entry-main
      h3.header
        a(href="http://www.code-ing.com/") CODE Ingenieria, Mexico City
        small.subject Software developer
      .thin-font Collaborated on the messaging protocol between two processors. While doing the front en development for CODE, we created a CRUD PHP/MySQL system.
  .entry
    .time 2009-2010
    .entry-main
      h3.header Synergy Elements, Mexico City
        small.subject Embedded software developer
      .thin-font  Synergy Elements was a home automation company delivering solutions using the zigbee wireless standard. I was responsible for creating our OEM builds using Windows CE 5/6, drivers for said devices and the systems mp3/id3 tag reader using C and C#.
+timed_section('education')
  .entry
    .time 2003-2008
    .entry-main
      h3.header Tecnologico de Monterrey
        small.subject Monterrey, Nuevo Leon. Mexico
      .thin-font(style="font-style:italic") Bachelors in Computer Science
      .thin-font Took part in a special exchange program for a semester in Barcelona
  .entry
    .time 06-12 2007
    .entry-main
      h3.header2
        a(href="http://www.cantera-tech.com/es/") Cantera tech, Barcelona
        small.subject Internship abroad as part of school program
      .thin-font Cantera tech is a software development and consulting firm based in Barcelona. Part of my responsibilities were developing a Java web application from scratch as well as unix sysadmin duties for my team. To help develop this application various Java frameworks like Struts and Hibernate.

+timed_section('personal projects')
  .entry
    .time 2017
    .entry-main
      h3.header
        a(href="http://t3tr0s.com") Bicla - WIP
      .thin-font React native iOS and Android application
      .thin-font Serverless application, caches (redis) public API calls and exposes those responses via API Gateway
  .entry
    .time 2014
    .entry-main
      h3.header
        a(href="http://t3tr0s.com") t3tr0s
        small.subject t3tr0s.com
      .thin-font Tetris 30th year anniversay developed with co-workers from PROS
      .thin-font Project fully done in clojurescript
  .entry
    .time 2014
    .entry-main
      h3.header
        a(href="https://github.com/Dudemullet/2048-up-right") 2048-up-right
        small.subject Dudemullet/2048-up-right
      .thin-font A bookmarklet that will play 2048 for you with pretty good results.
  .entry
    .time 2014
    .entry-main
      h3.header
        a(href="https://www.npmjs.org/package/generator-d3-iris") generator-d3-iris
        small.subject npm install -g generator-d3-iris
      .thin-font Yeoman generator for fast d3 prototyping
  .entry
    .time 2014
    .entry-main
      h3.header
        a(href="http://tenna.tv") tenna
        small.subject tenna.tv
      .thin-font Encode and stream video easily to your tv connected devices
