aside.sidebar
  include ./../mixins/aside_section.jade

  +section('about')
    .wtf 1743 Aden dr.
    .wtf Houston, Tx
    .wtf 77003
  +section('')
    ul
      li
        a(href="https://github.com/Dudemullet") GitHub
      li
        a(href="https://twitter.com/Dudemullet") Twitter
      li
        a(href="http://nadafancy.com") Homepage
  +section('')
    .wtf hello
