aside.sidebar
  include ./../mixins/aside_section.jade

  +section('about')
    ul
      li.item
        a(href="mailto:luis@nothingfancy.co" data-print="Email") luis@nothingfancy.co
      li.item
        a(href="tel://+16198162470" data-print="Mobile") 619-816-2470
      li.item
        a(href="https://github.com/Dudemullet", data-print="github/Dudemullet") GitHub
      li.item
        a(href="https://twitter.com/Dudemullet", data-print="@Dudemullet") Twitter
      li.item
        a(href="http://nothingfancy.co", data-print="nothingfancy.co") Homepage

  +section('programming')
    .item JavaScript
    .item Node
    .item HTML & CSS
    .item Java (Groovy)
    .item Grails
    .item Zend Framework 2
    .item Design Patterns

  +section('libraries')
    .item D3
    .item Bootstrap
    .item jQuery
    .item Mustache
    .item Socket.io
    .item Express
    .item Grunt/Gulp
    .item Backbone

  +section('aws')
    .item ECS/ECR
    .item SNS/SQS
    .item Lambda
    .item ELB
