aside.sidebar
  include ./../mixins/aside_section.jade

  +section('about')
    ul
      li.item
        a(href="mailto:luis@nothingfancy.co" data-print="Email") luis@nothingfancy.co
      li.item
        a(href="tel://+525549490369" data-print="Mobile") +525549490369
      li.item
        a(href="https://github.com/Dudemullet", data-print="github/Dudemullet") GitHub
      li.item
        a(href="https://twitter.com/Dudemullet", data-print="@Dudemullet") Twitter
      li.item
        a(href="http://nothingfancy.co", data-print="nothingfancy.co") Homepage

  +section('programming')
    .item JavaScript
    .item Node
    .item HTML & CSS
    .item Java (Groovy)
    .item Grails
    .item Zend Framework 2
    .item Design Patterns

  +section('aws')
    .item ECS/ECR
    .item SNS/SQS
    .item Lambda
    .item ELB
