aside.sidebar
  include ./../mixins/aside_section.jade

  +section('about')
    .item 1743 Aden dr.
    .item Houston, Tx
    .item 77003

  +section('')
    ul
      li.item
        a(href="mailto:luisg@nadafancy.com") luisg@nadafancy.com
      li.item
        a(href="https://github.com/Dudemullet", data-print="github/Dudemullet") GitHub
      li.item
        a(href="https://twitter.com/Dudemullet", data-print="@Dudemullet") Twitter
      li.item
        a(href="http://nadafancy.com", data-print="nadafancy.com") Homepage

  +section('languages')
    .item English
    .item Spanish

  +section('programming')
    .item JavaScript
    .item (Node)
    .item HTML & CSS
    .item Java (Groovy)
    .item MVC Frameworks

  +section('libraries')
    .item D3
    .item Bootstrap
    .item jQuery
    .item Mustache
    .item Socket.io
    .item Express
    .item Grunt/Gulp
